<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .homeContainer {
            display: flex;
        }
        .underHomeTitle {
            display: flex;
        }
        .mangaContainer {
            display: flex;
        }
        img {
            width: 150px;
            height: 250px;
            object-fit: contain;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="homeContainer">
        <div class="homeTitle"></div>
        <div class="underHomeTitle">
            <div class = "navBar">
                <button class="button"><a href="/manga/new">create new item</a>
            </div>
            <div class="mangaContainer">
                <% mangaHome.forEach(mangaHome=> { %>
                    <div class = "mangaCards">
                        <%=mangaHome.name %>
                        <button class="button"><a href="/manga/<%= mangaHome.id %>"><img src=<%=mangaHome.img%>>
                        <form action="/manga/<%=mangaHome.id%>?_method=DELETE" method="POST">
                            <input type="submit" class="button" value="DELETE" />
                        </form>
                    </div>
                    
                <%})%>
            </div>
        </div>
    </div>
</body>
</html>