<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/index.css">

</head>
<body class="homePage">
    <div class="homeContainer">
        <div class="homeTitle">
            <h3>Phat Bailey Inc.</h3>
            <div class="titleButtons">
                <a href="/login"><button class="button">login</button></a>
                <a href="/register"><button class="button">register</button></a>
            </div>
        </div>
        <div class="underHomeTitle">
            <div class = "navBarHome">
                <a href="/manga/new"><button class="button">create new item
            </div></a>
            <div class="mangaContainer">
                <% mangaHome.forEach(mangaHome=> { %>
                    <div class = "mangaCards">
                        <img src=<%=mangaHome.img%>>
                        <div class="middle">
                            <div class="buttonShow"><a href="/manga/<%= mangaHome.id %>"><%=mangaHome.name%></a></div>
                        </div>
                    </div>
                    
                <%})%>
            </div>
        </div>
    </div>
</body>
</html>