<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        .registerPage {
            background-image: url('https://i.imgur.com/vXDWqIH.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
        }
        .register_Page{
            display: flex;
        }
        .infoRegister {
            margin-left: 35%;
            margin-right: 15%;
            text-align: center;
            margin-top: 20%;
            padding: 60px;
            background-color: gray;
            border-radius: 4px;
            box-shadow: 5px 10px #2e2d2d80;
            gap: 15px
        }
    </style>
</head>
<body class="registerPage">
    <div class="register_Page">
        <div class="infoRegister">
            <form action="/register" method="POST">
                Email:<input type="text" name="email"></br>
                UserName:<input type="text" name="username"></br>
                Password<input type="password" name="password"></br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>