<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/register.css">

</head>
<body class="registerPage">
    <div class="register_Page">
        <div class="infoRegister">
            <form action="/register" method="POST">
                Email:<input type="text" name="email"></br>
                UserName:<input type="text" name="username"></br>
                Password<input type="password" name="password"></br>
                <input type="submit" value="Submit">
            </form>
            <a href="/manga">Back to Main</a>
        </div>
    </div>
</body>
</html>