<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hi <%=user.username %></h1>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
        <div class="mangaContainer">
            <% manga.forEach(manga=> { %>
                <div class = "mangaCards">
                    <h4><%=manga.name %></h4>
                    <button class="button"><a href="/manga/<%= manga.id %>"><img src=<%=manga.img%>></a>
                    </div>
                    
                    <%})%>
</body>
</html>