<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    <a href="/user">Back to Main</a>
    <ul>
        <% for(let i = 0; i<user.cart.length; i++){%>
            <li><%= user.cart[i].name %> - <%= user.cart[i].price %> </li>
            <form action="/cart/remove/<%= user.cart[i].id%>" method="POST">
                <input type="submit" value="Remove from Cart">
            </form>
        <%} %>
    </ul>
</body>
</html>